<div class="modal bottom-sheet">
    <div class="modal-content center">
        <h4>{{player.name}}</h4>

            <a class="btn success editPlayerButton" data-go="showFormPlayer" data-go-args="{{json player}}">
                <i class="material-icons">mode_edit</i>
                Modifier
            </a>
            <a class="btn danger deletePlayerButton" data-go="deletePlayer" data-go-args="{{player.id}}">
                <i class="material-icons">delete</i>
                Supprimer
            </a>

    </div>
</div>