<div class="scoreButtons">
    <div class="currentNumber" data-value="0">
        0
    </div>

    <div class="button-row">
        <a href="javascript:;" class="btn default danger-text" data-number="-10">
            - 10
        </a>
        <a href="javascript:;" class="btn default danger-text" data-number="-5">
            - 5
        </a>
        <a href="javascript:;" class="btn default danger-text" data-number="-1">
            - 1
        </a>
    </div>

    <div class="button-row">
        <a href="javascript:;" class="btn default success-text" data-number="1">
            + 1
        </a>
        <a href="javascript:;" class="btn default success-text" data-number="5">
            + 5
        </a>
        <a href="javascript:;" class="btn default success-text" data-number="10">
            + 10
        </a>
    </div>

    <p>
        &nbsp;
    </p>

    <div class="button-row">
        <a href="javascript:;" class="btn default danger-text cancel">
            <i class="material-icons">close</i>
        </a>

        <a href="javascript:;" class="btn default success-text validate">
            <i class="material-icons">check</i>
        </a>
    </div>
</div>